/node_modules
/public/hot
/public/uploads
/public/js/
/uploads
/vendor
/.idea
config/bosta.php
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.htaccess
config/snappy.php
/database/sqlite
*.zip
composer.json
composer.lock
/resources/js/scripts

bootstrap/cache
storage

public/phpmyadmin
